body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;   /* <<< megakadályozza a jobbra kilógást */
}
.header {
    width: 100%;
    height: 400px; 
    background-image: url(/képek/pizzakep.jpg);
    background-size: cover;      
    background-position: center;
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; 
    align-items:center ;  
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
          
}

.logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.menu {
    display: flex;
    gap: 25px;
    list-style: none;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}






nav a:hover{
    color: yellow;
}
.vonal{
    color: white;
}
.Piadina{
    background-color: #222;
    width: 100%;
    height: 450px;
}
.story {
    background-color: #202020;
    padding: 60px 0;
    color: white;
}

.story-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.story-left {
    flex: 1;
    text-align: left;
    margin-right: 50px;
}

.story-left h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: right;
    margin-right: 50px;
}

.tortenet {
    color: #c0c0c0;
    font-size: 1rem;
    text-align: right;
    margin-right: 50px;
    
}

.story-right {
    flex: 2;
    line-height: 1.7;
    color:#c0c0c0 ;
}

.call {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
}
.menu-section {
    background-color: #0f0f0f;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.menu-section h3 {
    font-size: 28px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.menu-section h4 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #ccc;
}

.menu-section p {
    max-width: 700px;
    margin: 0 auto 40px;
    line-height: 1.6;
    color: #ddd;
}

/* Gombok */
.menu-buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.menu-btn {
    border: 1px solid white;
    padding: 12px 35px;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    transition: 0.3s;
}

.menu-btn:hover {
    background-color: white;
    color: black;
}


.container {
    display: grid;
    grid-template-areas:
      "pizza1 pizza1 voros"
      "gomba pizza2 voros"
      "gomba pizza2 elo"
      "blank blank elo";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 0.1fr;
    gap: 10px;
    padding: 5px;
    height: 800px;
  }
  .container div {
    padding: 10px;
  }
  .container div.gomba {
    grid-area: gomba;
  }
  .container div.pizza1 {
    grid-area: pizza1;
    gap: 10px;
    height: 50vh;
    width: 100vh;
    background-image: url(/képek/pizzakep.jpg);
    background-size: cover;
   
  }
  .container div.pizza2 {
    grid-area: pizza2;
    background-image: url(/képek/pizzakep4.jpg);
    background-size: cover;
   
  }
  .container div.voros {
    grid-area: voros;
    background-image: url(/képek/steak.jpg);
    background-size: cover;
    background-position: 50%;
  }
  .container div.blank {
    grid-area: blank;
  }
  .container div.elo {
    grid-area: elo;
    background-image: url(/képek/leves.jpg);
    background-size: cover;
  }
  .container div.gomba {
    grid-area: gomba;
    background-image: url(/képek/zöldségsaláta.jpg);
    background-size: cover;
  }



